.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 60vh;
  background-color: var(--bg);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--background);
}

.input,
.textarea {
  padding: 10px;
  border: 1px solid;
  border-color: #6b9579;
  background: var(--background);
  color: var(--text);
  font-family: var(--body);
  font-size: 16px;
  margin: 20px;
}

.textarea {
  min-height: 150px;
  resize: vertical;
}


.button {
  padding: 10px 20px;
  background: #6b9579;
  color: #ede6dc;
  /*#ede6dc*/
  border-width: 2px;
  cursor: pointer;
  font-family: var(--body);
  font-size: 16px;
  border-radius: 75px;
  margin-top: 20px;
}

.button:hover {
 background: #f7f3ea;
  color: #6b9579;
}

.result {
  text-align: center;
  font-weight: bold;
}
